@import '../../constants/style.scss';

#login {
    align-items: center;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    height: 100%;

    .container {
        align-items: center;
        background-color: rgba($white, 0.8);
        border-radius: 5px;
        box-shadow: rgba($black, 0.3) 0px 10px 10px 0px;
        display: flex;
        flex-direction: column;
        min-height: 500px;
        width: 500px;

        figure {
            margin: 10% 0;

            img {
                max-height: 250px;
            }
        }

        .row {
            text-align: center;
            width: 100%;

            &.space {
                display: flex;
                justify-content: space-between;
                padding: 10%;
            }

            input {
                width: 80%;
                margin: 10px 0px;
            }
        }
    }
}