// Spectrum
$mainColor: #8A164B;
$redColor: #891616;
$yellowColor: #FAC105;
$greenMainColor: #49B43B;
$greenColor: #3C812B;
$blueMainColor: #16598A;
$blueColor: #228D91;


// Gray Scale
$white: #FFFFFF;
$customGray: #EFEFF4;
$lightGray: #C7C7C7;
$gray: #8E8E93;
$black: #000000;

// Other
$transition: all 0.2s ease;